body {
    --LIGHTBLUE: #90F1EF;
    --PINK: #FFD6E0;
    --FLAX: #FFEF9F;
    --LIGHTGREEN: #C1FBA4;
    --GREEN: #7BF1A8;
    --main-background: var(--PINK);
    --sub-background: var(--GREEN);

    background-color: var(--LIGHTBLUE);
    text-align: center;
}

h1
{
    font-size: 3em;
    background-color: var(--GREEN);
    border: 3px solid;
    border-radius: 50%;
    margin: 50px 6%;
}

main
{
    background-color: var(--main-background);
    margin: 0 10%;
}

section:has(.frog)
{
    background-color: var(--sub-background);
}

.frog
{
    max-width: 256px;
}

.star {
    max-width: 256px;
}